
.container{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(229, 181, 181, 0.9),rgba(68, 12, 12, 0.9)),url('https://images.pexels.com/photos/390089/film-movie-motion-picture-390089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
}
.logo{
    width: 420px;
    height: 150px;
   position:relative;
   left: 10px;
   top: 20px;
   border-radius: 20px;


}
.search{
    background-color: white;
    color:black;
    padding-left: 50px;
}
nav{
    display: flex;
    text-align: right;
}   
nav ul li{
    list-style: none;
    display:inline-block;
    margin-left:30px;
}nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
.button:hover{
    background-color: blue;
    color:white;
    cursor: pointer;
}
.row{
    display: flex;
    height: 50%;
    /* align-items:center; */
    /* border:1px solid black; */
}
.col{
    width:500px;
    flex-basis:50%;
    /* border: 1px solid black; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#head{
    font-size:80px;
    margin-left:10px;
    display: inline;
    
}
p{
    font-size:11px ;
    line-height:15px;
    margin-left:10px;
}
.col > p{
    position: relative;
    bottom: 20px;
}
.but{
    margin: 20px;
    position: relative;
    bottom:40px;
    padding: 20px,0;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: beige;
}
.but:hover{
    background-color: yellow;
    cursor:pointer;
}
.mov1{
    position:relative;
    left:20px;
}
.img{
    width: 320px;
    height: 150px;
    position: relative;
    top:20px;
    left: 20px;
}